          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3>Your account</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-striped">
                    <tbody>
                      <tr class="total">
                        <td>Your account (total)</td>
                        <td class="text-right">
                          <%= @user.account_sum.to_s(:delimited, :delimiter => " ") %> руб.
                        </td>
                      </tr>
                      <% @wallets.each do |wallet| %>
                        <tr>
                          <td><%= wallet.name %></td>
                          <td class="text-right">
                            <%= wallet.balance.to_s(:delimited, :delimiter => " ") %> руб.
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <table class="table table-striped">
                    <tbody>
                      <tr class="danger">
                        <td>Your limit</td>
                        <td class="text-right">
                          <%= @user.limit.to_s(:delimited, :delimiter => " ") %> руб.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
 
