.col-xs-12.col-sm-12.col-md-8.col-md-offset-2
  .panel.panel-primary
    .panel-heading
      %h3= t ".title"
    .panel-body
      .row
        = render "form"
        .col-sm-12
          = link_to t("actions.show"), @purchase, class: "btn btn-success"
          = link_to t("actions.back"), category_purchases_path(@purchase.category), class: "btn btn-info"
