.col-xs-12.col-sm-12.col-md-8.col-md-offset-2
  .panel.panel-primary
    .panel-heading
      %h3= t('New Wallet')
    .panel-body
      .row
        = render 'form'
        .col-sm-12
          = link_to t('Back'), user_wallets_path(current_user), class: 'btn btn-info'
