// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#main {
  margin-top: 92px;
}

.total td {
  font-weight: bold;
}

.theme-showcase {
  margin-top: 50px;
}

.field {
  margin-bottom: 1em;
}

.actions {
  margin-bottom: 1em;
}

.modal-form {
  display: inline;
}

#modal > div > div {
  margin-left: 0px;
}

.modal-form > div > div > input {
  width: auto;
}

.modal-form > div > div > select {
  display: inline;
  width: auto;
}
 
.modal-form > div > div > label {
  display: inline;
}

.modal-form > div > div > label::after {
  content: '\A';
  white-space: pre;
}

 
