<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3><%= t("Editing Category") %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <%= render 'form' %>
      
        <div class="col-sm-12">
          <%= link_to t('Show'), @category, class: 'btn btn-success' %>
          <%= link_to t('Back'), categories_path, class: 'btn btn-info' %>
        </div>
      </div>
    </div>
  </div>
</div>
 
