.col-xs-12.col-sm-12.col-md-8.col-md-offset-2
  .panel.panel-primary
    .panel-heading
      %h3= t ".title"
    .panel-body
      .row
        = render "form"
        .col-sm-12
          = link_to t("actions.back"), categories_path, class: "btn btn-info"
