%tr
  %td{:colspan => "7"}
    %ul.pagination
      - page_count = @transactions_count / @page_size
      - for page_index in 1..page_count
        - if page_index == @page_number + 1
          %li.active
        - else
          %li
        %a{:href => "?page_number=#{page_index - 1}"}= page_index
