        <%= yield %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-user"></span> Log in
              <% end %>
            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
 
